body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0e0b16;
  color: #f8f4e3;
}

/*html {
  height: 100vh;
  position: absolute;
  top: 0;
}*/

a {
  text-decoration: none;
  color: inherit;
}

.is-grey {
  color: #8cfbde;
  /*color: #C2E812;*/
}

.title {
  /*font-size: 7vw;*/
  font-size: calc(60px + 1.5vw);
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 1rem;
}

.subtitle {
  /*font-size: 2vw;*/
  font-size: calc(30px + 1.5vw);
  margin: 0;
  font-weight: 700;
}

.container, .nav-container {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  position: relative;
}

.nav-container {
  /*display: flex;
  width: 90%;
  flex-basis: auto;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;*/
  /*width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;*/
}

.intro {
  margin-top: 3em;
}

.intro, .message {
  margin: 0 auto;
  width: 75%;
}

#communication {
  font-style: italic;
  /*color: #333;*/
}

.navigation {
  margin-top: 5rem;
  font-size: 22px;
}

.nav-grid {
  /*width: 80%;*/
  /*margin-top: 5rem;*/
  width: 75%;
  /*margin-bottom: 5rem;*/
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.nav-grid .first-short-item {
  color: #0e0b16;
}

/*.nav-grid .second-short-item {
  color: black;
}*/

.long-item {
  grid-column: span 2;
}

.short-item {
  grid-column: span 1;
}

/*.nav-grid .first-long-item {
  grid-column: 2 / 4;
}

.nav-grid .second-long-item {
  grid-column: 1 / 3;
}*/

.nav-grid div {
  /*border: 1px solid black;*/
  height: auto;
  /*max-height: 600px;*/
  position: relative;
  color: #f8f4e3;
  background-size: cover;
  /*background-color: black;*/
  background-blend-mode: difference;
  filter: grayscale(1);
  transition: 0.7s ease;
}

.nav-grid div:hover {
  transform: scale(1.05);
  filter: none;
}

.nav-grid div:hover .nav-title {
  opacity: 1;
}

/*.about {
  background: url("./images/about.jpeg") no-repeat center center;
  background-size: cover;
  background-color: black;
  background-blend-mode: difference;
}*/

.image {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
  /*margin-top: 5rem;
  margin-bottom: 5rem;*/
  z-index: 0;
}

.image-container {
  position: relative;
  width: 75%;
  margin: 5vw auto;
}

.image-title {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  padding-left: 20px;
  font-size: 3.5rem;
}

.nav-title {
  margin: 0;
  position: absolute;
  padding-left: 20px;
  font-size: 2.5rem;
  margin-bottom: 1vw;
  top: 20px;
  left: 10px;
  opacity: 0;
  transition: 0.7s ease;
}

/*.info-container {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 1500px;
}*/

.title-container {
  /*width: 40%;*/
  margin: 0 auto;
  width: 75%;
  padding-bottom: 10px;
  border-bottom: 1px solid #f8f4e3;
}

.content-container {
  margin: 0 auto;
  width: 75%;
  /*max-width: 1050px;*/
}

.see {
  font-size: 1.3rem;
}

.content {
  margin-top: 2rem !important;
  margin-bottom: 2rem;
  text-align: left;
  /*font-size: 2vw;*/
  font-size: calc(30px + .5vw);
  font-weight: 200;
}

.display {
  padding: 3.5vw;
  margin: 7vw auto;
  width: 75%;
  min-width: 650px;
  height: auto;
  background-color: #312f38;
}

footer {
  height: 80px;
  /*background-color: #f9f9f9;*/
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

.footer-links {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-top: 10px;
  /*padding-left: 10px;*/
  /*font-size: 2vw;*/
}

.footer-links p {
  margin-top: 0;
  display: inline;
  font-size: calc(25px + .5vw);
}

.contact {
  margin-right: 3%;
  font-size: 2.5vw;
}

.intro, .message, .nav-grid, .footer-links, .content-container, .title-container, .image-container {
  min-width: 750px;
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 5vw;
    margin: 0;
    font-weight: 700;
  }
  .title {
    font-size: 9vw;
  }
  .display {
    min-width: 0px;
    width: 95%;
  }
  .intro, .message, .nav-grid, .footer-links, .content-container, .title-container, .image-container {
    min-width: 0px;
    width: 100%;
  }
  .content {
    font-size: 4.5vw;
  }
  /*.nav-container {
    width: 90%;
    max-width: 600px;
  }
  .container {
    width: 90%;
    max-width: 600px;
  }
  .navigation {
    margin-top: 2rem;
    font-size: 22px;
  }
  .nav-grid {
    display: block;
  }*/
  .nav-grid div {
    filter: none;
  }
  .nav-title {
    opacity: 1;
    font-size: 5vw;
    top: 10px;
    left: 10px;
    padding-left: 0;
  }
  /*.footer-links {
    font-size: 18px;
  }
  .contact {
    font-size: 22px;
  }
  .content {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 200;
  }*/
}