body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-blue {
  color: #8cfbde;
}

.is-red {
  color: #FF6061;
}

.title {
  font-size: calc(100px + 2vw);
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 1rem;
}

.subtitle {
  font-size: calc(18px + .5vw);
  margin: 0;
  font-weight: 700;
}

.container, .nav-container {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  position: relative;
}

.intro {
  margin-top: 3vw !important;
}

.intro, .message {
  margin: 0 auto;
  width: 75%;
}

#communication {
  font-style: italic;
}

.featuring {
  margin-top: 5vw;
  font-size: 18px;
}

.nav-grid {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
}

.long-item {
  grid-column: span 2;
}

.short-item {
  grid-column: span 1;
}

.nav-grid div {
  height: auto;
  position: relative;
  color: #f8f4e3;
  background-size: cover;
  background-blend-mode: difference;
  filter: grayscale(1);
  transition: 0.7s ease;
}

.nav-grid div:hover {
  transform: scale(1.05);
  filter: none;
}

.nav-grid div:hover .nav-title {
  opacity: 1;
}

.image {
  height: auto;
  width: 100%;
}

.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
  z-index: 0;
}

.image-container {
  position: relative;
  width: 75%;
  margin: 5vw auto;
}

.image-title {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  padding-left: 20px;
  font-size: 3.5rem;
}

.nav-title {
  margin: 0;
  position: absolute;
  padding-left: 20px;
  font-size: 2.5rem;
  margin-bottom: 1vw;
  top: 20px;
  left: 10px;
  opacity: 0;
  transition: 0.7s ease;
}

.title-container {
  margin: 0 auto;
  width: 75%;
  padding-bottom: 10px;
  border-bottom: 1px solid #f8f4e3;
}

.content-container {
  margin: 0 auto;
  width: 75%;
}

.see {
  font-size: 1.3rem;
  font-weight: 600;
}

.content {
  margin-top: 2rem !important;
  margin-bottom: 2rem;
  text-align: left;
  font-size: calc(30px + .5vw);
  font-weight: 600;
}

.display {
  padding: 3.5vw;
  margin: 8vw auto;
  width: 75%;
  min-width: 650px;
  height: auto;
  background-color: #312f38;
}

footer {
  height: 80px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

.footer-links {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-top: 10px;
  font-weight: 700;
}

.footer-links p {
  margin-top: 0;
  display: inline;
  font-size: calc(25px + .5vw);
}

.contact {
  margin-right: 3%;
  font-size: 2.5vw;
}

.intro, .message, .nav-grid, .footer-links, .content-container, .title-container, .image-container {
  min-width: 750px;
}

@media screen and (max-width: 768px) {
  .featuring {
    display: none;
  }
  .subtitle {
    font-size: calc(15px + .5vw);
    margin: 0;
    font-weight: 700;
  }
  .title {
    font-size: 14vw;
    margin-bottom: 5vw;
  }
  .display {
    min-width: 0px;
    width: 95%;
  }
  .intro, .message, .nav-grid, .footer-links, .content-container, .title-container, .image-container {
    min-width: 0px;
    width: 100%;
  }
  .content {
    font-size: 4.5vw;
  }
  /*.nav-container {
    width: 100%;
    margin: 0;
  }*/
  .nav-grid {
    /*grid-column-gap: 2vw;
    grid-row-gap: 2vw;*/
    /*grid-column-gap: 0;
    grid-row-gap: 0;*/
  }
  .nav-grid div {
    filter: none;
  }
  .nav-title {
    opacity: 1;
    font-size: 5vw;
    top: 10px;
    left: 10px;
    padding-left: 0;
  }
}